body {
    font-family: Arial, sans-serif;
    padding: 40px;
    background: #f0fafa;;
}
h1 {
  margin-bottom: 1.5rem;
  text-align: center;
  color: #004080;
  font-weight: 350;
}

.volver {
  text-align: center;
  margin-top: 30px;
}

.volver a {
  display: inline-block;
  padding: 12px 24px;
  background: #2f4f6f; 
  color: white;
  text-decoration: none;
  font-size: 16px;
  border-radius: 10px;
  transition: all 0.3s ease;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.volver a:hover {
  background: #121d26; 
  transform: translateY(-2px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

table {
  border-collapse: collapse;
  margin-bottom: 20px;
  background-color: white;
  width: 80%;
  max-width: 900px;
  margin: 20px auto;
}
table th, table td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}
table th {
  background: #007bff;
  color: white;
}
table thead th {
  background-color: #3498db; 
  color: white;
  text-align: left;
  padding: 12px;
  font-weight: 600;
}

table tbody td {
  padding: 12px;
  border-bottom: 1px solid #e8e8e8;
}

table tbody tr:hover {
  background-color: #f9f9f9;
}

table tbody tr:last-child td {
  border-bottom: none;
}

table th:first-child,
table td:first-child {
  border-top-left-radius: 10px;
}

table th:last-child,
table td:last-child {
  border-top-right-radius: 10px;
}