<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Menú principal</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/menu.css') }}">
</head>
<body>
    <div class="menu-container"> 
        <!--Con esto conseguimos enviar mensajes tipo flash-->
        {% with mensajes = get_flashed_messages() %}
            {% if mensajes %}
                <div class="mensaje-flash">
                    {% for mensaje in mensajes %}
                        <p>{{ mensaje }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
        <h1>Bienvenido a GammaDoc   </h1>

        <a href="/volante">
            <button class="menu-button">➕ Crear volante PET</button>
        </a>

        <a href="/bandeja">
            <button class="menu-button">📂 Bandeja</button>
        </a>
    </div>
        <script src="{{ url_for('static', filename='scripts/mensajesFlash.js') }}"></script>
</body>
</html>

