<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Bandeja de Volantes</title>
  
  <link 
    rel="stylesheet"
    href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css"
  />
  <link 
    rel="stylesheet" 
    href="{{ url_for('static', filename='styles/bandeja.css') }}"
  >
  <link 
    rel="stylesheet" 
    href="{{ url_for('static', filename='styles/botonBusqueda.css') }}"
  >
  <link 
    rel="stylesheet" 
    href="{{ url_for('static', filename='styles/panelBandeja.css') }}"
  >
  <link 
    rel="stylesheet" 
    href="{{ url_for('static', filename='styles/botonesBack.css') }}"
  >
  <link 
    rel="stylesheet" 
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
  >
</head>
<body>

  <div class="nav-buttons">
    <a href="javascript:history.back()" class="btn-back"><i class="fa-solid fa-arrow-left"></i></a>
    <a href="{{ url_for('volantes.menu') }}" class="btn-home"><i class="fa-solid fa-house" style="margin-right:6px;"></i>Home</a>
  </div>

  <h1><i class="fa-solid fa-inbox" style="margin-right:8px;"></i>BANDEJA DE VOLANTES</h1>

  {% with mensajes = get_flashed_messages() %}
    {% if mensajes %}
      <div class="mensaje-flash">
        {% for mensaje in mensajes %}<p>{{ mensaje }}</p>{% endfor %}
      </div>
    {% endif %}
  {% endwith %}
  <div class="botones-superiores">
    <a href="{{ url_for('volantes.nuevo_volante') }}" class="btn-flotante"><i class="fa-solid fa-plus" style="margin-right:6px;"></i>Nuevo volante</a>
    <button id="btn-adv-search" class="btn-adv"> <i class="fa-solid fa-sliders" style="margin-right:6px;"></i> Filtro Avanzado</button>
  </div>
  
  <div style="overflow-x: auto; width: 100%;">

  </div>
    <table id="tabla-volantes" class="tabla-volantes display nowrap">
      <thead>
        <tr>
          <th></th>
          <th>ID</th>
          <th>Nº Historia</th>
          <th>Citado por</th>
          <th>Fecha</th>
          <th>Hora</th>
          <th>Historia Clínica</th>
          <th>Dieta ENDOCARDITIS</th>
          <th>Adelantar si se puede</th>
          <th>Habitación</th>
          <th>Ext</th>
          <th>Enfermera</th>
          <th>Nº</th>
          <th>BOX</th>
          <th>Diabetes</th>
          <th>Renal</th>
          <th>Alergia yodo</th>
          <th>Cardiopata</th>
          <th>Insulina</th>
          <th>ADO</th>
          <th>Antibióticos</th>
          <th>Corticoides</th>
          <th>Estadificación</th>
          <th>Respuesta a tto</th>
          <th>Control evolutivo</th>
          <th>TOD</th>
          <th>Planificación RT</th>
          <th>Re-Estadificación</th>
          <th>Sospecha Recidiva</th>
          <th>Sospecha Infección</th>
          <th>PET</th>
          <th>TC</th>
          <th>RMN</th>
          <th>Otro4</th>
          <th>Cirugía</th>
          <th>RadioT</th>
          <th>QuimioT</th>
          <th>InmunoT</th>
          <th>Otro</th>
          <th>F-FDG</th>
          <th>F-Colina</th>
          <th>F-FDOPA</th>
          <th>F-PSMA</th>
          <th>Amiloide</th>
          <th>Ga-DOTATOC</th>
          <th>Respiratorio</th>
          <th>Cardiaco</th>
          <th>Planificación</th>
          <th>EARL</th>

          <th>Intravenoso</th>
          <th>C y C</th>
          <th>Torax</th>
          <th>Portal</th>
          <th>Vascular</th>
          <th>Otro (Contraste)</th>
          <th>Oral</th>

          <th>Rutina</th>
          <th>Rutina + Craneo</th>
          <th>C. Entero</th>
          <th>C y C (Protocolo)</th>
          <th>Neuro</th>
          <th>Endocarditis</th>
          <th>Colina Precoz</th>
          <th>Colina Tardía</th>
          <th>Paratiroides</th>
          <th>Y-90</th>
          <th>Lu-177</th>
          <th>EESS abajo</th>

          <th>Inicio adquisición</th>
          <th>Final adquisición</th>
          <th>Inicio tardía</th>
          <th>Final tardía</th>

          <th>Peso</th>
          <th>Altura</th>
          <th>Test embarazo +</th>
          <th>Test embarazo -</th>
          <th>Informado contraste</th>
          <th>FUR</th>
          <th>Glucemia Pre-Iny.</th>
          <th>Hora glucemia</th>

          <th>Actrapid</th>
          <th>Lorazepan/Diazepan</th>
          <th>Suero</th>
          <th>Otro (texto)</th>
          <th>DOSIS</th>

          <th>Iny. Izquierda</th>
          <th>Iny. Derecha</th>
          <th>Antecubital</th>
          <th>Antebrazo</th>
          <th>Mano</th>
          <th>Pie</th>
          <th>Otro lugar</th>

          <th>Radiofármaco incidencia</th>
          <th>Contraste incidencia</th>
          <th>No administrado</th>

          <th>Extravasación</th>
          <th>Reacción Alérgica</th>
          <th>Intrarterial</th>
          <th>Malestar general</th>
          <th>Síncope</th>
          <th>Otro incidencia</th>

          
        </tr>
      </thead>
      <tbody>
        {% for v in volantes %}
        <tr class="volante-row"
            data-creador="{{ v.creador.username if v.creador else 'Desconocido' }}"
            data-creado="{{ v.fecha_creacion.strftime('%d/%m/%Y %H:%M') if v.fecha_creacion else '' }}"
            data-editor="{{ v.editor.username if v.editor else 'Sin cambios' }}"
            data-editado="{{ v.fecha_edicion.strftime('%d/%m/%Y %H:%M') if v.fecha_edicion else '' }}">
          <td>
            <a href="{{ url_for('volantes.editar_volante', id=v.id) }}" class="editar-button"><i class="fa-solid fa-pen"style="margin-right:6px;"></i>Editar</a>


            <form method="POST" action="{{ url_for('volantes.eliminar_volante', id=v.id) }}" style="display:inline;" onsubmit="return confirm('¿Seguro que quieres eliminar este volante?');">
              <button class="eliminar-button"><i class="fa-solid fa-trash" style="margin-right:6px;"></i>Eliminar</button>
            </form>

          </td>

          <td>{{ v.id }}</td>
          <td>{{ v.num_historia }}</td>
          <td>{{ v.Citado_por }}</td>
          <td>{{ v.Fecha }}</td>
          <td>{{ v.Hora }}</td>
          <td>{{ v.Historia_Clinica or '' }}</td>
          <td>{{ 'Sí' if v.Dieta_ENDOCARDITIS else 'No' }}</td>
          <td>
            {% if v.Adelantar_si_se_puede %}
              <span style="color:red; font-weight:bold;">*</span>
            {% else %}
              No
            {% endif %}
          </td>
          <td>{{ v.Habitacion }}</td>
          <td>{{ v.Extension }}</td>
          <td>{{ v.Enfermera }}</td>
          <td>{{ v.Numero }}</td>
          <td>{{ v.BOX }}</td>
          <td>{{ 'Sí' if v.Diabetes else 'No' }}</td>
          <td>{{ 'Sí' if v.Renal else 'No' }}</td>
          <td>{{ 'Sí' if v.Alergia_yodo else 'No' }}</td>
          <td>{{ 'Sí' if v.Cardiopata else 'No' }}</td>
          <td>{{ 'Sí' if v.Insulina else 'No' }}</td>
          <td>{{ 'Sí' if v.ADO else 'No' }}</td>
          <td>{{ 'Sí' if v.Antibioticos else 'No' }}</td>
          <td>{{ 'Sí' if v.Corticoides else 'No' }}</td>
          <td>{{ 'Sí' if v.Estadificacion else 'No' }}</td>
          <td>{{ 'Sí' if v.Respuesta_a_tto else 'No' }}</td>
          <td>{{ 'Sí' if v.Control_evolutivo else 'No' }}</td>
          <td>{{ 'Sí' if v.TOD else 'No' }}</td>
          <td>{{ 'Sí' if v.Planificacion_RT else 'No' }}</td>
          <td>{{ 'Sí' if v.Re_Estadificacion else 'No' }}</td>
          <td>{{ 'Sí' if v.Sospecha_Recidiva else 'No' }}</td>
          <td>{{ 'Sí' if v.Sospecha_Infeccion else 'No' }}</td>
          <td>{{ v.PET }}</td>
          <td>{{ v.TC }}</td>
          <td>{{ v.RMN }}</td>
          <td>{{ v.Otro4 }}</td>
          <td>{{ v.Cirugia }}</td>
          <td>{{ v.RadioT }}</td>
          <td>{{ v.QuimioT }}</td>
          <td>{{ v.InmunoT }}</td>
          <td>{{ v.Otro }}</td>
          <td>{{ 'Sí' if v.F_FDG else 'No' }}</td>
          <td>{{ 'Sí' if v.F_Colina else 'No' }}</td>
          <td>{{ 'Sí' if v.F_FDOPA else 'No' }}</td>
          <td>{{ 'Sí' if v.F_PSMA else 'No' }}</td>
          <td>{{ 'Sí' if v.Amiloide else 'No' }}</td>
          <td>{{ 'Sí' if v.Ga_DOTATOC else 'No' }}</td>

          <td>{{ 'Sí' if v.Respiratorio else 'No' }}</td>
          <td>{{ 'Sí' if v.Cardiaco else 'No' }}</td>
          <td>{{ 'Sí' if v.Planificacion else 'No' }}</td>
          <td>{{ 'Sí' if v.EARL else 'No' }}</td>

          <td>{{ 'Sí' if v.Intravenoso else 'No' }}</td>
          <td>{{ 'Sí' if v.CyC else 'No' }}</td>
          <td>{{ 'Sí' if v.Torax else 'No' }}</td>
          <td>{{ 'Sí' if v.Portal else 'No' }}</td>
          <td>{{ 'Sí' if v.Vascular else 'No' }}</td>
          <td>{{ v.Otro2 }}</td>
          <td>{{ 'Sí' if v.Oral else 'No' }}</td>

          <td>{{ 'Sí' if v.Rutina else 'No' }}</td>
          <td>{{ 'Sí' if v.RutinaCraneo else 'No' }}</td>
          <td>{{ 'Sí' if v.Entero else 'No' }}</td>
          <td>{{ 'Sí' if v.cyc else 'No' }}</td>
          <td>{{ 'Sí' if v.Neuro else 'No' }}</td>
          <td>{{ 'Sí' if v.Endocarditis else 'No' }}</td>
          <td>{{ 'Sí' if v.ColinaPrecoz else 'No' }}</td>
          <td>{{ 'Sí' if v.ColinaTardia else 'No' }}</td>
          <td>{{ 'Sí' if v.Paratiroides else 'No' }}</td>
          <td>{{ 'Sí' if v.y90 else 'No' }}</td>
          <td>{{ 'Sí' if v.lu177 else 'No' }}</td>
          <td>{{ 'Sí' if v.eess else 'No' }}</td>

          <td>{{ v.adquisicionInicio }}</td>
          <td>{{ v.adquisicionFinal }}</td>
          <td>{{ v.tardiaInicio }}</td>
          <td>{{ v.tardiaFinal }}</td>

          <td>{{ v.Peso }}</td>
          <td>{{ v.Altura }}</td>
          <td>{{ 'Sí' if v.embarazo_positivo else 'No' }}</td>
          <td>{{ 'Sí' if v.embarazo_negativo else 'No' }}</td>
          <td>{{ v.informado_Contraste }}</td>
          <td>{{ v.FUR }}</td>
          <td>{{ v.Glucemia_pre_inyeccion }}</td>
          <td>{{ v.hora1 }}</td>

          <td>{{ 'Sí' if v.Actrapid else 'No' }}</td>
          <td>{{ 'Sí' if v['Lorazepan/Diazepan'] else 'No' }}</td>
          <td>{{ 'Sí' if v.Suero else 'No' }}</td>
          <td>{{ v.otro_texto }}</td>
          <td>{{ v.DOSIS }}</td>

          <td>{{ 'Sí' if v.inyeccion_izq else 'No' }}</td>
          <td>{{ 'Sí' if v.inyeccion_dcha else 'No' }}</td>
          <td>{{ 'Sí' if v.Antecubital else 'No' }}</td>
          <td>{{ 'Sí' if v.Antebrazo else 'No' }}</td>
          <td>{{ 'Sí' if v.Mano else 'No' }}</td>
          <td>{{ 'Sí' if v.Pie else 'No' }}</td>
          <td>{{ v.otro3_texto }}</td>

          <td>{{ 'Sí' if v.Radiofarmaco else 'No' }}</td>
          <td>{{ 'Sí' if v.contraste1 else 'No' }}</td>
          <td>{{ v.No_administrado_motivo }}</td>

          <td>{{ 'Sí' if v.Extravasacion else 'No' }}</td>
          <td>{{ 'Sí' if v.Reaccion_Alergica else 'No' }}</td>
          <td>{{ 'Sí' if v.Intrarterial else 'No' }}</td>
          <td>{{ 'Sí' if v.Malestar_general else 'No' }}</td>
          <td>{{ 'Sí' if v.Sincope else 'No' }}</td>
          <td>{{ v.otro1_texto }}</td>

        </tr>
        {% endfor %}
      </tbody>
    </table>
    <br>
    <div class="toggle-columns-container">
      <button id="btn-toggle-cols"><i class="fa-solid fa-bars" style="margin-right:6px;"></i>Ver el resto</button>
    </div>
  </div>
  <div class="export-container">

    <div class="export-panel">
      <h3>Exportar la tabla</h3>
      <div class="excel-button-container">
        <a href="{{ url_for('volantes.exportar_excel') }}" class="excel-button"><i class="fa-solid fa-file-excel" style="margin-right:6px;"></i>Exportar Excel</a>
      </div>
    </div>

    <div class="export-panel">
      <h3>Exportar por mes</h3>
      <form action="{{ url_for('volantes.exportar_excel_mes') }}" method="get">
        <input type="number" name="year" value="{{ now().year }}" placeholder="Año" required>
        <input type="number" name="month" min="1" max="12" value="{{ now().month }}" placeholder="Mes" required>
        <button type="submit"><i class="fa-solid fa-file-excel" style="margin-right:6px;"></i>Exportar</button>
      </form>
    </div>

    <div class="export-panel">
      <h3>Exportar por NHC</h3>
      <form action="{{ url_for('volantes.exportar_excel_historia') }}" method="get">
        <input type="text" name="num_historia" placeholder="Nº Historia" required>
        <button type="submit"><i class="fa-solid fa-file-excel" style="margin-right:6px;"></i>Exportar</button>
      </form>
    </div>

  </div>
  
  <!-- Modal de Búsqueda Avanzada -->
  <div id="adv-search-modal" class="modal">
    <div class="modal-content">
      <span class="close-modal">&times;</span>
      <h2>Filtro avanzado</h2>
      <form id="adv-search-form">
        <fieldset>
          <legend>Evaluación</legend>
          <label><input type="text" name="Citado_por" placeholder="Citado por"></label>
          <label>Desde <input type="date" name="Fecha_desde"> </label>
          <label>Hasta <input type="date" name="Fecha_hasta"> </label>
          <label>Hora exacta <input type="time" name="Hora"></label>
          <label><input type="text" name="Habitacion" placeholder="Habitación"></label>
          <label><input type="text" name="Extension" placeholder="Ext"></label>
          <label><input type="text" name="Enfermera" placeholder="Enfermera"></label>
          <label><input type="text" name="Numero" placeholder="Nº"></label>
          <label><input type="text" name="BOX" placeholder="BOX"></label>
        </fieldset>

        <fieldset>
          <legend>Antecedentes personales</legend>
          <label><input type="checkbox" name="Diabetes"> Diabetes</label>
          <label><input type="checkbox" name="Renal"> Renal</label>
          <label><input type="checkbox" name="Alergia_yodo"> Alergia yodo</label>
          <label><input type="checkbox" name="Cardiopata"> Cardiopata</label>
        </fieldset>

        <fieldset>
          <legend>Medicación actual</legend>
          <label><input type="checkbox" name="Insulina"> Insulina</label>
          <label><input type="checkbox" name="ADO"> ADO</label>
          <label><input type="checkbox" name="Antibioticos"> Antibióticos</label>
          <label><input type="checkbox" name="Corticoides"> Corticoides</label>
        </fieldset>

        <fieldset>
          <legend>Exploración</legend>
          <label><input type="checkbox" name="Estadificacion"> Estadificación</label>
          <label><input type="checkbox" name="Respuesta_a_tto"> Respuesta a tto</label>
          <label><input type="checkbox" name="Control_evolutivo"> Control evolutivo</label>
          <label><input type="checkbox" name="TOD"> TOD</label>
          <label><input type="checkbox" name="Planificacion_RT"> Planificación RT</label>
          <label><input type="checkbox" name="Re_Estadificacion"> Re-Estadificación</label>
          <label><input type="checkbox" name="Sospecha_Recidiva"> Sospecha Recidiva</label>
          <label><input type="checkbox" name="Sospecha_Infeccion"> Sospecha Infección</label>
        </fieldset>

        <fieldset>
          <legend>Estudios previos</legend>
          <label>PET <input type="date" name="PET"></label>
          <label>TC <input type="date" name="TC"></label>
          <label>RMN <input type="date" name="RMN"> </label>
          <label>Otro <input type="date" name="Otro4"></label>
        </fieldset>

        <fieldset>
          <legend>Final de tratamiento previo</legend>
          <label>Cirugía <input type="date" name="Cirugia"></label>
          <label>RadioT <input type="date" name="RadioT"></label>
          <label>QuimioT <input type="date" name="QuimioT"></label>
          <label>InmunoT <input type="date" name="InmunoT"></label>
          <label>Otro <input type="date" name="Otro"></label>
        </fieldset>

        <fieldset>
          <legend>Radiofármacos</legend>
          <label><input type="checkbox" name="F_FDG"> F-FDG</label>
          <label><input type="checkbox" name="F_Colina"> F-Colina</label>
          <label><input type="checkbox" name="F_FDOPA"> F-FDOPA</label>
          <label><input type="checkbox" name="F_PSMA"> F-PSMA</label>
          <label><input type="checkbox" name="Amiloide"> Amiloide</label>
          <label><input type="checkbox" name="Ga_DOTATOC"> Ga-DOTATOC</label>
        </fieldset>
        <fieldset>
          <legend>Técnicos</legend>
          <label><input type="checkbox" name="Respiratorio"> Respiratorio</label>
          <label><input type="checkbox" name="Cardiaco"> Cardiaco</label>
          <label><input type="checkbox" name="Planificacion"> Planificación</label>
          <label><input type="checkbox" name="EARL"> EARL</label>
        </fieldset>

        <fieldset>
          <legend>Contraste</legend>
          <label><input type="checkbox" name="Intravenoso"> Intravenoso</label>
          <label><input type="checkbox" name="CyC"> C y C</label>
          <label><input type="checkbox" name="Torax"> Torax</label>
          <label><input type="checkbox" name="Portal"> Portal</label>
          <label><input type="checkbox" name="Vasvular"> Vascular</label>
          <label><input type="text" name="Otro2" placeholder="Otro (texto libre)"></label>
          <label><input type="checkbox" name="Oral"> Oral</label>
        </fieldset>

        <fieldset>
          <legend>Protocolo</legend>
          <label><input type="checkbox" name="Rutina"> Rutina</label>
          <label><input type="checkbox" name="RutinaCraneo"> Rutina + Cráneo</label>
          <label><input type="checkbox" name="Entero"> C. Entero</label>
          <label><input type="checkbox" name="cyc1"> C y C (protocolo)</label>
          <label><input type="checkbox" name="Neuro"> Neuro</label>
          <label><input type="checkbox" name="Endocarditis"> Endocarditis</label>
          <label><input type="checkbox" name="ColinaPrecoz"> Colina Precoz</label>
          <label><input type="checkbox" name="ColinaTardia"> Colina Tardía</label>
          <label><input type="checkbox" name="Paratiroides"> Paratiroides</label>
          <label><input type="checkbox" name="y90"> Y-90</label>
          <label><input type="checkbox" name="lu177"> Lu-177</label>
          <label><input type="checkbox" name="eess"> EESS abajo</label>
        </fieldset>

        <fieldset>
          <legend>Enfermería</legend>
          <label><input type="number" step="any" name="Peso" placeholder="Peso (kg)"></label>
          <label><input type="number" step="any" name="Altura" placeholder="Altura (cm)"></label>
          <label><input type="checkbox" name="embarazo_positivo"> Test embarazo +</label>
          <label><input type="checkbox" name="embarazo_negativo"> Test embarazo -</label>
          <label><input type="text" name="informado_Contraste" placeholder="Informado contraste"></label>
          <label>FUR<input type="date" name="FUR"></label>
          <label><input type="text" name="Glucemia_pre_inyeccion" placeholder="Glucemia Pre-Iny."></label>
          <label>Hora-preinyeccion<input type="time" name="hora1"></label>
          <label><input type="checkbox" name="Actrapid"> Actrapid</label>
          <label><input type="checkbox" name="Lorazepan_Diazepan"> Lorazepan/Diazepan</label>
          <label><input type="checkbox" name="Suero"> Suero</label>
          <label><input type="text" name="otro_texto" placeholder="Otro (texto libre)"></label>
          <label><input type="text" name="DOSIS" placeholder="Dosis"></label>
        </fieldset>

        <fieldset>
          <legend>Lugar de inyección</legend>
          <label><input type="checkbox" name="inyeccion_izq"> Izquierda</label>
          <label><input type="checkbox" name="inyeccion_dcha"> Derecha</label>
          <label><input type="checkbox" name="Antecubital"> Antecubital</label>
          <label><input type="checkbox" name="Antebrazo"> Antebrazo</label>
          <label><input type="checkbox" name="Mano"> Mano</label>
          <label><input type="checkbox" name="Pie"> Pie</label>
          <label><input type="text" name="otro3_texto" placeholder="Otro lugar"></label>
        </fieldset>

        <fieldset>
          <legend>Incidencias</legend>
          <label><input type="checkbox" name="Radiofarmaco"> Radiofármaco</label>
          <label><input type="checkbox" name="contraste1"> Contraste</label>
          <label><input type="text" name="No_administrado_motivo" placeholder="Motivo no administración"></label>
          <label><input type="checkbox" name="Extravasacion"> Extravasación</label>
          <label><input type="checkbox" name="Reaccion_Alergica"> Reacción alérgica</label>
          <label><input type="checkbox" name="Intrarterial"> Intrarterial</label>
          <label><input type="checkbox" name="Malestar_general"> Malestar general</label>
          <label><input type="checkbox" name="Sincope"> Síncope</label>
          <label><input type="text" name="otro1_texto" placeholder="Otro incidente"></label>
        </fieldset>

        <button type="submit">Aplicar filtro</button>
        <button type="button" id="btn-clear-filters">Limpiar filtros</button>
      </form>
    </div>
  </div>

  <div id="tooltip-panel"></div>
  

  <div class="volver">
    <a href="/">⬅ Volver al menú</a>
  </div>

  <!-- Scripts -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script 
    src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js">
  </script>
  <script src="{{ url_for('static', filename='scripts/mensajesFlash.js') }}"></script>
  <script src="{{ url_for('static', filename='scripts/bandeja.js') }}"></script>
  <script src="{{ url_for('static', filename='scripts/botonBusqueda.js') }}"></script>
  <script src="{{ url_for('static', filename='scripts/panelBandeja.js') }}"></script>
  <script src="{{ url_for('static', filename='scripts/main.js') }}"></script>

</body>
</html>
