<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Menú principal</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/menu.css') }}">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">


</head>
<body>
  <div class="menu-container">

    
    <div class="top-right-buttons">
      {% if user.role == 'administrador' %}
        <a class="gestion-button" href="{{ url_for('volantes.gestion_usuarios') }}">
          <i class="fa-solid fa-circle-user"style="margin-right:6px;"></i> Gestión de usuarios
        </a>
        <a class="menu1-button" href="{{ url_for('volantes.gestion_pacientes') }}"> 
          <i class="fa-solid fa-address-card" style="margin-right:6px;"> </i> Gestión Pacientes
        </a>
        <a class="logs-button" href="{{ url_for('volantes.ver_logs') }}"><i class="fa-solid fa-clipboard-list"style="margin-right:6px;"></i>Registro de actividad</a>
      {% else %}
        <a class="menu1-button" href="{{ url_for('volantes.gestion_pacientes') }}"> 
          <i class="fa-solid fa-address-card" style="margin-right:6px;"> </i> Gestión Pacientes
        </a>
      {% endif %}
      <a class="logout-button" href="{{ url_for('auth.logout') }}"><i class="fa-solid fa-arrow-right-from-bracket" style="margin-right:6px;"></i>Cerrar sesión</a>
    </div>


    <br>
    <br>
    <br>
    <br>
    <br>
    {% with mensajes = get_flashed_messages() %}
      {% if mensajes %}
        <div class="mensaje-flash">
          {% for m in mensajes %}<p>{{ m }}</p>{% endfor %}
        </div>
      {% endif %}
    {% endwith %}
    
    <div class="logo-fondo">
      <div style="text-align:center; margin-bottom:500px;">
        <img src="{{ url_for('static', filename='images/logo1.png') }}" alt="GammaDoc Logo" width="400">
      </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>

    <h1>Bienvenido a GammaDoc{% if user %} – {{ user.username }}{% endif %}</h1>

    <div class="menu-secciones">
      <div class="menu-col">
        <h2 class="menu-titulo">CREAR </h2>
        <a href="{{ url_for('volantes.nuevo_volante') }}">
          <button class="menu-button"><i class="fa-solid fa-plus" style="margin-right:6px;"></i>Crear volante PET</button>
        </a>
        <a href="{{ url_for('volantes.alta_paciente') }}">
          <button class="menu-button"><i class="fa-solid fa-user-plus" style="margin-right:6px;"></i>Dar de alta paciente</button>
        </a>
      </div>

      <div class="menu-col">
        <h2 class="menu-titulo">CONSULTAS</h2>
        <a href="{{ url_for('volantes.bandeja') }}">
          <button class="menu-button"> <i class="fa-solid fa-inbox" style="margin-right:6px;"></i>  Bandeja</button>
        </a>
        <a href="{{ url_for('volantes.calendario') }}">
          <button class="menu-button"> <i class="fa-solid fa-calendar-days" style="margin-right:6px;"    ></i> Calendario</button>
        </a>
      </div>

      <div class="menu-col">
        <h2 class="menu-titulo">ESTADÍSTICAS</h2>
        <a href="{{ url_for('volantes.estadisticas') }}">
          <button class="menu-button"> <i class="fa-solid fa-chart-simple" style="margin-right:6px;"></i>Ver estadísticas</button>
        </a>
      </div>
    </div>
    <br>
    <br>
    <br>
    <br>




  </div>

  <script src="{{ url_for('static', filename='scripts/mensajesFlash.js') }}"></script>
</body>
</html>



